<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="form-horizontal">
  <div class="form-row">
    <div class="form-group col-sm-12" [class.has-error]="!nome.valid && nome.touched"
      [class.has-feedback]="!nome.valid && nome.touched">

      <label for="nome">Nome</label>

      <input required type="text" class="form-control" id="nome" placeholder="Insira o nome" name="nome"
        [(ngModel)]="usuario.nome" #nome="ngModel">
      <!-- <div>
        PARA VER AS CLASSES QUE ESTAO SENDO APLICADAS NO INPUT
        {{nome.className}}
      </div> -->
      <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
        Nome é obrigatório
      </div>
    </div>


    <div class="form-group col-sm-12" [class.has-error]="!email.valid && email.touched"
      [class.has-feedback]="!email.valid && email.touched">

      <label for="email">Email</label>
      <input required type="email" class="form-control" id="email" placeholder="Insira o email" name="email"
        [(ngModel)]="usuario.email" required email #email="ngModel">
      <!-- pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}>~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" -->

      <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
        email é inválido
      </div>

    </div>


    <div class="form-group col-md-3" [class.has-error]="!cep.valid && cep.touched"
      [class.has-feedback]="!cep.valid && cep.touched">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!cep.valid && cep.touched"></span>
      <span class="sr-only" *ngIf="!cep.valid && cep.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!cep.valid && cep.touched">CEP é obrigatório</div>
    </div>

    <div class="form-group col-md-3" [class.has-error]="!numero.valid && numero.touched"
      [class.has-feedback]="!numero.valid && numero.touched">
      <label for="numero" class="control-label">Número</label>
      <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!numero.valid && numero.touched"></span>
      <span class="sr-only" *ngIf="!numero.valid && numero.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!numero.valid && numero.touched">Número é obrigatório</div>
    </div>

    <div class="form-group col-md-6">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">
    </div>

    <div class="form-group col-sm-12" [class.has-error]="!rua.valid && rua.touched"
      [class.has-feedback]="!rua.valid && rua.touched">
      <label for="rua" class="control-label">Rua</label>
      <input readonly type="text" class="form-control" id="rua" name="rua" ngModel required #rua="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!rua.valid && rua.touched"></span>
      <span class="sr-only" *ngIf="!rua.valid && rua.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!rua.valid && rua.touched">Nome da rua é obrigatório</div>
    </div>

    <div class="form-group col-md-5" [class.has-error]="!bairro.valid && bairro.touched"
      [class.has-feedback]="!bairro.valid && bairro.touched">
      <label for="bairro" class="control-label">Bairro</label>
      <input readonly type="text" class="form-control" id="bairro" name="bairro" ngModel required #bairro="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!bairro.valid && bairro.touched"></span>
      <span class="sr-only" *ngIf="!bairro.valid && bairro.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!bairro.valid && bairro.touched">Nome do bairro é obrigatório
      </div>
    </div>

    <div class="form-group col-md-4" [class.has-error]="!cidade.valid && cidade.touched"
      [class.has-feedback]="!cidade.valid && cidade.touched">
      <label for="cidade" class="control-label">Cidade</label>
      <input readonly type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!cidade.valid && cidade.touched"></span>
      <span class="sr-only" *ngIf="!cidade.valid && cidade.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!cidade.valid && cidade.touched">Nome da cidade é obrigatório
      </div>
    </div>

    <div class="form-group col-md-3" [class.has-error]="!estado.valid && estado.touched"
      [class.has-feedback]="!estado.valid && estado.touched">
      <label for="estado" class="control-label">Estado</label>
      <input readonly type="text" class="form-control" id="estado" name="estado" ngModel required #estado="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
        *ngIf="!estado.valid && estado.touched"></span>
      <span class="sr-only" *ngIf="!estado.valid && estado.touched">(error)</span>
      <div class="alert alert-danger" role="alert" *ngIf="!estado.valid && estado.touched">Nome da estado é obrigatório
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">Acessar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
