<h1>Usando PIPES</h1>

<h2>Descrição do livro</h2>
<p>Título: {{ livro.titulo | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number : '1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas}}</p>
<p>Preço: {{ livro.preco | currency : 'BRL'}}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date : 'dd/MM/yyyy'}}</p>
<a href="{{ livro.url}}">Ler a respeito do livro</a>

<br><br>
<p>Livro: {{ livro | json }}</p>

<br>
<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>


<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>
