<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="nome">Nome</label>
      <input required type="text" class="form-control" id="nome" placeholder="Insira o nome" formControlName="nome"
        [ngClass]="cssError('nome')">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
      </app-campo-control-erro>
    </div>

    <div class="form-group col-sm-12">
      <label for="email">Email</label>
      <input required type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
        [ngClass]="cssError('email')">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email inválido.">
      </app-campo-control-erro>
    </div>

    <div class="form-group col-sm-12">
      <label for="confirmaremail">Confirmar email</label>
      <input required type="confirmaremail" class="form-control" id="confirmaremail" placeholder="Email"
        formControlName="confirmaremail" [ngClass]="cssError('confirmaremail')">
      <app-campo-control-erro [mostrarErro]="this.formulario.get('confirmaremail').hasError('equalsTo')"
        msgErro="Os emails são diferentes">
      </app-campo-control-erro>
    </div>

    <div class="endereco" formGroupName="endereco">
      <div class="form-row">

        <div class="form-group col-md-3" [ngClass]="cssError('endereco.cep')">
          <label for="cep" class="control-label">CEP</label>
          <input type="text" class="form-control" id="cep" formControlName="cep"
            (blur)="consultaCEP()">

          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório.">
          </app-campo-control-erro>
          <app-campo-control-erro [mostrarErro]="formulario.get('endereco.cep').hasError('cepInvalido')"
            msgErro="CEP inválido.">
          </app-campo-control-erro>

        </div>

        <div class="form-group col-md-3">
          <label for="numero" class="control-label">Número</label>
          <input type="text" class="form-control" id="numero" formControlName="numero"
            [ngClass]="cssError('endereco.numero')">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')"
            msgErro="Numero é obrigatório.">
          </app-campo-control-erro>

        </div>

        <div class="form-group col-md-6">
          <label for="complemento" class="control-label">Complemento</label>
          <input type="text" class="form-control" id="complemento" formControlName="complemento">
        </div>

        <div class="form-group col-sm-12">
          <label for="rua" class="control-label">Rua</label>
          <input type="text" class="form-control" id="rua" formControlName="rua" [ngClass]="cssError('endereco.rua')">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatória.">
          </app-campo-control-erro>
        </div>

        <div class="form-group col-md-5">
          <label for="bairro" class="control-label">Bairro</label>
          <input type="text" class="form-control" id="bairro" formControlName="bairro"
            [ngClass]="cssError('endereco.bairro')">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')"
            msgErro="Bairro é obrigatório.">
          </app-campo-control-erro>
        </div>

        <div class="form-group col-md-4">
          <label for="cidade" class="control-label">Cidade</label>
          <input readonly type="text" class="form-control" id="cidade" formControlName="cidade"
            [ngClass]="cssError('endereco.cidade')">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')"
            msgErro="Cidade é obrigatória.">
          </app-campo-control-erro>
        </div>

        <div class="form-group col-md-3">
          <label for="estado" class="control-label">Estado</label>
          <select type="text" class="form-control" id="estado" formControlName="estado"
            [ngClass]="cssError('endereco.estado')">
            <option [value]="estado.sigla" *ngFor="let estado of estados | async">{{estado.nome}}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')"
            msgErro="Estado é obrigatório.">
          </app-campo-control-erro>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-4">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
        <option [ngValue]="cargo" *ngFor="let cargo of cargos">{{cargo.desc}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
        <option [value]="tecnologia.nome" *ngFor="let tecnologia of tecnologias">{{tecnologia.desc}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="newsletter" class="control-label">Assinar Newsletter?</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4" *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input [value]="item.id" type="radio" formControlName="newsletter" id="newsletter">
            {{item.desc}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-4" [ngClass]="cssError('frameworks')">
      <label for="frameworks">Frameworks</label>
      <div class="row" id="frameworks">
        <div class="checkbox col-sm-4" formArrayName="frameworks"
          *ngFor="let item of formulario.get('frameworks')['controls']; let i = index;">
          <label class="checkbox-inline">
            <input type="checkbox" formControlName="{{i}}">
            {{frameworks[i]}}
          </label>
        </div>
        <app-campo-control-erro [mostrarErro]="!formulario.get('frameworks').valid"
          msgErro="Selecione ao menos uma framework">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-group col-md-4" [ngClass]="cssError('termo')">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="termos" formControlName="termo">
        <label class="form-check-label" for="termos">Permitir e aceitar os termos de uso.</label>
      </div>
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('termo')" msgErro="Por favor aceite os termos de uso">
      </app-campo-control-erro>

    </div>

  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="submit" class="btn btn-secondary" (click)="resetaDadosEndereco()">Cancelar</button>
  <button type="submit" class="btn btn-warning" (click)="setarCargo()">Cargo</button>
  <button type="submit" class="btn btn-success" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="formulario"></app-form-debug>

</form>
