<section class="property-binding">
  <article>
    <h3>Interpolação/Interpolation</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <span>Usando Interpolação</span>
    <img src="{{ urlImagem }}" alt="imagem natureza">
    <span>Usando o Propert Binding</span>
    <img [src]="urlImagem" alt="imagem natureza">
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <h4>Usando Classe</h4>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">SUCESSO</option>
        <option value="alert-info">INFO</option>
        <option value="alert-warning">ALERTA</option>
        <option value="alert-danger">ERRO</option>
      </select>
      <br><br>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">SUCESSO</div>

      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">INFO</div>

      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">ALERTA</div>

      <div class="alert" role="alert" [class.alert-danger]="classe.value =='alert-danger'">ERRO</div>

      <div class="alert {{ classe.value }}" role="alert">
        <p>Texto colorido conforme valor do combobox</p>
      </div>

    </div>
    <h4>Usando Style</h4>
    <p>Selecione a opção ERRO no select</p>
    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      <p>Esse texto somente aparece em caso de erro</p>
    </div>


  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">Clique aqui</button>
      <br><br>
      <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor($event.target.value)"
        (blur)="salvarValor(campoInput.value)" #campoInput>
      <p>(keyup) Valor atual: {{ valorAtual }}</p>
      <p>(keyup.enter)(blur) Valor Salvo: {{ valorSalvo }}</p>
      <br><br>
      <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">Passe o mouse
        sobre mim</span>
    </div>
  </article>
</section>

<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <input type="text" [(ngModel)]="nome">

      <p>Você digitou {{ nome }}</p>
    </div>

    <div>
      <h2>Utilizando o TW Data Binding com OBJETOS</h2>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
      <input type="text" [(ngModel)]="pessoa.endereco">

      <p>Meu nome é {{ pessoa.nome }}, tenho {{ pessoa.idade }} e moro na rua {{ pessoa.endereco }}</p>
    </div>
  </article>
</section>


<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <p>Input - Pai para o Filho</p>
    <app-curso-propertie [nome]="nomeDoCurso"></app-curso-propertie>
    <br><br>
    <p>Output - Filho para o Pai</p>
    <app-output-propertie [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-output-propertie>
  </article>
</section>
